@model AddProductViewModels
@inject MCV_Empity.Services.InterFaces.IProductService _Iproduct 
@* دلوقت تقدر تستعملها براحتك *@

<div >
	<form asp-action="Create" method="post" encType="multipart/form-data">
		<div asp-validation-summary="All"></div>            
		<Label>NameAr</Label>
		<div>
			<input asp-for="NameAr" class="form-control" />
			<span asp-validation-for="NameAr" class="text-danger" ></span>
		</div>
		<Label>NameEn</Label>
		<div>
			<input asp-for="NameEn" class="form-control" />
			<span asp-validation-for="NameEn" class="text-danger" ></span>
		</div>
			<Label>price</Label>
		<div>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div>
			<label>File</label>
			<input type="file" asp-for="Files" class="form-control" multiple />
			<span asp-validation-for="Files" class="text-danger"></span>
		</div>
		<div>
			<label>Category</label>
			<select  asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">

			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
		<input type="submit" value="save" class="btn btn-primary"/>
	</form>
</div>








@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}