@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> _SharedResources;

@model IEnumerable<GetProductListViewModel>;

<partial name="_Notifications"></partial>
@{
	ViewBag.Title = "Product List";
}

@* <h1>@TempData["UserId"]</h1> *@
@* <h1>@TempData.Peek("UserId")</h1>
<h1>@{
		TempData.Keep("UserName");
	}</h1>

<h1>@TempData["UserName"]</h1> *@

<h1 class="text-center">  Product List</h1>

<div>
	<p>
		<a asp-action="Create" asp-controller="product" class ="btn btn-primary">Create New Product</a>
	</p>
	<div>
		<div>
			<form asp-action="Index" method="get"> 
			<input id="search" name="search" type="text" placeholder="search ..." />
			<input type="submit" value="search" />
			</form>
		</div>
	
		<div>
			<input id="searchtext" type="text" placeholder="search ..." />
		</div>
	</div>





</div>
<div id="productData">
	@await Html.PartialAsync("_ProductList", Model)
</div>

<script>
	$(document).ready(function () {
		$("#searchtext").on('input', function () {
			var searchString = $(this).val();
			$.ajax({
				url: '@Url.Action("SearchProductList", "Product")',
				type: 'GET',
				data: { searchText: searchString },
				success: function (result) {
					$("#productData").html(result);
				}
			});
		});
	});
</script>
